<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}  {% endblock  %}</title>

    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
</head>

<body >

<header> 
    <h1>  <a href="{{url_for('view_welcome_page')}}" >  Projekt Flask </a>  </h1> 
</header>

<nav>
    <h2> Navigacia na stranke </h2>
    <ul class=nav> 
        <li> <a href= "{{url_for('view_about')}}" > About </a>  </li> 
        <li> <a href="{{url_for('view_articles')}}" > Clanky </a>  </li>
        <li> <a href="{{url_for('view_admin')}}" > Admin </a>  </li> 
    </ul> 
</nav>

    <main>
            <blockquote> {% block main %} {% endblock  %} </blockquote> 
    </main>

<footer>
    <p> 2022 </p>
</footer>

</body>
</html> 