<!DOCTYPE html>
<html lang="en">
<head>

  <title> {% block title %} {% endblock %} </title>
  {% include "_head.jinja" %}

</head>

<body style="background-color:#595959" text="black" >

<header>
  <h1>
    <a href="{{ url_for("view_welcome_page") }}"> What is Lorem Ipsum? </a></h1>
</header>

  {% include "_nav.jinja" %}

<main>
  {% block main %} {% endblock %}
</main>

{% include "_footer.jinja" %}

</body>
</html>
