<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt Markdown</title>

    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
</head>

<body >

<header> 
    <h1> Tvoja osobna kniznica </h1> 
</header>

<nav>
    <p>navigacia na stranke</p>
    <ul class=nav> 
        <li> <a href="#" > About </a>  </li> 
        <li> <a href="#" > Knihy </a>  </li>
        <li> <a href="#" > Admin </a>  </li> 
    </ul> 
</nav>

    <main>
            <blockquote> O mne  </blockquote> 
    </main>

<footer>
    <p> 2022 </p>
</footer>

</body>
</html> 